html, body, .container {
	height: 100%;
}

.full-height {
	height: 100vh;
	min-height: 600px;
	max-height: 760px;
	overflow: hidden;
}

.decrease {

}

.white-bg {
	background-color: #ffffff;

}


.font {
	font-family: 'Dancing Script', cursive;
	float: left;
}

.font h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 75px;
	font-size: 85px;
	padding-left: 10px;
	padding-top: 60px;
	color: #4A4A4A;

}


.font h2 {
	font-size: 25px;
	font-family: 'Dancing Script', cursive;
  padding: 30px 10px;
	color: #4A4A4A;
}

.divider {
	padding: 10px;
}


@media (min-width: 992px) {
  .va-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

}

@media (min-width: 1200px) {
  .va-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
